[submodule "chapter-02/songs-app-angularjs"]
	path = chapter-02/songs-app-angularjs
	url = https://github.com/pro-vagrant/songs-app-angularjs.git
[submodule "chapter-02/songs-app-django"]
	path = chapter-02/songs-app-django
	url = https://github.com/pro-vagrant/songs-app-django.git
[submodule "chapter-02/songs-app-rails"]
	path = chapter-02/songs-app-rails
	url = https://github.com/pro-vagrant/songs-app-rails.git
[submodule "chapter-02/songs-app-symfony"]
	path = chapter-02/songs-app-symfony
	url = https://github.com/pro-vagrant/songs-app-symfony.git
[submodule "chapter-03/songs-app-sinatra"]
	path = chapter-03/songs-app-sinatra
	url = https://github.com/pro-vagrant/songs-app-sinatra.git
[submodule "chapter-04/new-project-chapter-04"]
	path = chapter-04/new-project-chapter-04
	url = https://github.com/pro-vagrant/new-project-chapter-04.git
[submodule "chapter-05/first-box-factory"]
	path = chapter-05/first-box-factory
	url = https://github.com/pro-vagrant/first-box-factory.git
[submodule "chapter-05/corporate-blog"]
	path = chapter-05/corporate-blog
	url = https://github.com/pro-vagrant/corporate-blog.git
[submodule "chapter-06/vagrant-jekyll-shell"]
	path = chapter-06/vagrant-jekyll-shell
	url = https://github.com/pro-vagrant/flowers-vagrant-jekyll-shell.git
[submodule "chapter-06/vagrant-jekyll-puppet"]
	path = chapter-06/vagrant-jekyll-puppet
	url = https://github.com/pro-vagrant/vagrant-jekyll-puppet.git
[submodule "chapter-06/vagrant-jekyll-chef"]
	path = chapter-06/vagrant-jekyll-chef
	url = https://github.com/pro-vagrant/vagrant-jekyll-chef.git
[submodule "chapter-06/vagrant-jekyll-ansible"]
	path = chapter-06/vagrant-jekyll-ansible
	url = https://github.com/pro-vagrant/vagrant-jekyll-ansible.git
[submodule "chapter-06/flowers-vagrant-jekyll-shell"]
	path = chapter-06/flowers-vagrant-jekyll-shell
	url = https://github.com/pro-vagrant/flowers-vagrant-jekyll-shell.git
