[submodule "chapter-02/songs-app-angularjs"]
	path = chapter-02/songs-app-angularjs
	url = https://github.com/pro-vagrant/songs-app-angularjs.git
[submodule "chapter-02/songs-app-django"]
	path = chapter-02/songs-app-django
	url = https://github.com/pro-vagrant/songs-app-django.git
[submodule "chapter-02/songs-app-rails"]
	path = chapter-02/songs-app-rails
	url = https://github.com/pro-vagrant/songs-app-rails.git
[submodule "chapter-02/songs-app-symfony"]
	path = chapter-02/songs-app-symfony
	url = https://github.com/pro-vagrant/songs-app-symfony.git
[submodule "chapter-03/songs-app-sinatra"]
	path = chapter-03/songs-app-sinatra
	url = https://github.com/pro-vagrant/songs-app-sinatra.git
[submodule "chapter-04/new-project-chapter-04"]
	path = chapter-04/new-project-chapter-04
	url = https://github.com/pro-vagrant/new-project-chapter-04.git
[submodule "chapter-05/first-box-factory"]
	path = chapter-05/first-box-factory
	url = https://github.com/pro-vagrant/first-box-factory.git
[submodule "chapter-05/corporate-blog"]
	path = chapter-05/corporate-blog
	url = https://github.com/pro-vagrant/corporate-blog.git
[submodule "chapter-06/vagrant-jekyll-shell"]
	path = chapter-06/vagrant-jekyll-shell
	url = https://github.com/pro-vagrant/flowers-vagrant-jekyll-shell.git
[submodule "chapter-06/vagrant-jekyll-puppet"]
	path = chapter-06/vagrant-jekyll-puppet
	url = https://github.com/pro-vagrant/vagrant-jekyll-puppet.git
[submodule "chapter-06/vagrant-jekyll-chef"]
	path = chapter-06/vagrant-jekyll-chef
	url = https://github.com/pro-vagrant/vagrant-jekyll-chef.git
[submodule "chapter-06/vagrant-jekyll-ansible"]
	path = chapter-06/vagrant-jekyll-ansible
	url = https://github.com/pro-vagrant/vagrant-jekyll-ansible.git
[submodule "chapter-06/flowers-vagrant-jekyll-shell"]
	path = chapter-06/flowers-vagrant-jekyll-shell
	url = https://github.com/pro-vagrant/flowers-vagrant-jekyll-shell.git
[submodule "chapter-07/chef/bento"]
	path = chapter-07/chef/bento
	url = https://github.com/pro-vagrant/bento.git
[submodule "chapter-07/boxcutter/ubuntu"]
	path = chapter-07/boxcutter/ubuntu
	url = https://github.com/pro-vagrant/ubuntu.git
[submodule "chapter-08"]
	path = chapter-08
	url = https://github.com/pro-vagrant/chapter-08-examples.git
[submodule "chapter-09/songs-app-rails-antipattern"]
	path = chapter-09/songs-app-rails-antipattern
	url = https://github.com/pro-vagrant/songs-app-rails-antipattern.git
[submodule "chapter-09/vagrant-box-factory-apache"]
	path = chapter-09/vagrant-box-factory-apache
	url = https://github.com/pro-vagrant/vagrant-box-factory-apache.git
[submodule "chapter-09/vagrant-box-factory-django"]
	path = chapter-09/vagrant-box-factory-django
	url = https://github.com/pro-vagrant/vagrant-box-factory-django.git
[submodule "chapter-09/vagrant-box-factory-rails"]
	path = chapter-09/vagrant-box-factory-rails
	url = https://github.com/pro-vagrant/vagrant-box-factory-rails.git
[submodule "chapter-09/vagrant-box-factory-symfony"]
	path = chapter-09/vagrant-box-factory-symfony
	url = https://github.com/pro-vagrant/vagrant-box-factory-symfony.git
[submodule "chapter-09/vagrant-box-factory-sinatra"]
	path = chapter-09/vagrant-box-factory-sinatra
	url = https://github.com/pro-vagrant/vagrant-box-factory-sinatra.git
[submodule "chapter-09/vagrant-box-factory-apache-git-submodules"]
	path = chapter-09/vagrant-box-factory-apache-git-submodules
	url = https://github.com/pro-vagrant/vagrant-box-factory-apache-git-submodules.git
[submodule "chapter-10"]
	path = chapter-10
	url = https://github.com/pro-vagrant/chapter-10-examples.git
[submodule "chapter-07/using-bento-ubuntu-box"]
	path = chapter-07/using-bento-ubuntu-box
	url = https://github.com/pro-vagrant/using-bento-ubuntu-box.git
[submodule "chapter-07/using-boxcutter-ubuntu-box"]
	path = chapter-07/using-boxcutter-ubuntu-box
	url = https://github.com/pro-vagrant/using-boxcutter-ubuntu-box.git
